body{
    min-width: 1400px;
}
/* start tp 网易云导航*/
#tp{
    display: none;
    width: 100%;
    height: 55px;
    background: #fff;
    z-index: 10;
}
#tp .tp{
    width: 1260px;
    height: 100%;
    margin: 0 auto;
}
#tp .tp h2{
    float: left;
    width: 133px;
    height: 44px;
    background-image: url("../img/logo.png");
    margin-top: 5px;
}
#tp .tp .tp1{
    float: left;
    width: 420px;
    height: 100%;
    margin-left: 10px;
}
#tp .tp .tp1 img{
    display: block;
    width: 100%;
    height: 100%;
}
#tp .tp .tp2{
    float: right;
    height: 55px;
}
#tp .tp .tp2 a.bgg{
    color: #000;
}
#tp .tp .tp3 i{
    position: absolute;
    top: 19px;
    right: 4px;
    display: block;
    width: 16px;
    height: 16px;
    background: #fff url(../img/22.png) no-repeat -99px -95px;
}
#tp .tp .bgg{
    float: left;
    height: 52px;
    line-height: 52px;
    text-align: center;
    padding: 0 16px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    font-size: 12px;
    transition: background .5s;
    margin-right: 5px;
}
#tp .tp .tp3{
    position: relative;
    color: #bc2e2e;
    padding: 0 24px 0 16px;
}
#tp .tp .bgg:hover{
    background-color: #F3F3F3;
    color: #bc2e2e;
    background-image: -webkit-linear-gradient(top,#F3F3F3 0,#FEFEFE 52px);
    border-bottom: 3px solid #bc2e2e;
}
/* end  tp */
#warp{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/* start #header 导航*/
#header{
    position: relative;
    width: 100%;
    height: 628px;
    background: url("../img/index/main_banner.jpg") center top;
}
#Nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    min-width: 1200px;
    transition: .3s;
    z-index: 999;
}
#Nav.posi{
    position: fixed;
    background: rgba(255,255,255,.8);
}
#Nav.hover{
    background: rgba(255,255,255,.8);
}
#Nav ul.Nav-ul{
    float: right;
    padding-top: 35px;
    margin-right: 15px;
}
#Nav ul.Nav-ul li.mNav{
    position: relative;
    float: left;
    width: 118px;
    height: 65px;
    text-align: center;
    cursor: pointer;
    line-height: 35px;
}
#Nav ul.Nav-ul li.mNav a{
    display: block;
    width: 100px;
    height: 100%;
    color: #000;
    font-size: 16px;
    margin-right: 16px;
    transition: .5s;
}
#Nav ul.Nav-ul li.mNav.hover a{
    color: #cc4336;
}
#Nav ul.Nav-ul li.mNav span.line{
    position: absolute;
    top: 8px;
    right: 0;
    width: 16px;
    height: 24px;
    background: url("../img/index/index.png")16px 115px;
}

#Nav .mNav i.arrow{
    display: none;
    width: 0;
    height: 0;
    border: 10px solid #e1ebeb;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    margin: -20px 0 0 40px;
}
#Nav .Nav-ul li.hover i.arrow{
    display: block;
}
#Nav .ulHide{
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #e1ebeb;
}
#Nav .ulHide .hide{
    display: none;
    width: 100%;
    height: 100%;
}
#Nav .ulHide .hide.show{
    display: block;
}
#Nav .ulHide .hide ul li{
    float: right;
    width: 222px;
}
#Nav .ulHide .hide ul li.li-list{
    position: relative;
    top: 50px;
    transition: .5s;
}
#Nav .ulHide .hide ul li.li-list:hover{
    top: 20px;
}
#Nav .ulHide .hide ul li.li-list i{
    display: block;
    width: 65px;
    height: 71px;
    background-image: url("../img/index/index.png");
    margin: 0 auto;
}
#Nav .ulHide .hide ul li.li-list i.i1{
    background-position: 158px -230px;
}
#Nav .ulHide .hide ul li.li-list p{
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    margin-top: 10px;
    color: #000;
}
#Nav .ulHide .hide ul li.li-list i.i2{
    width: 71px;
    height: 70px;
    background-position: 158px -301px
}
#Nav .ulHide .hide ul li.side{
    width: 1px;
    height: 100px;
    background: #ccc;
    margin-top: 50px;
    padding-top: 0;
}
#Nav .logo1{
    display: none;
    float: left;
    height: 74px;
    margin-top: 14px;
}
#Nav .logo1.show{
    display: block;
}
#Nav .logo1 .scan{
    float: left;
    margin-right: 14px;
}
#Nav .logo1 .scan p{
    float: left;
    width: 16px;
    padding: 0 10px;
    line-height: 18px;
}
#Nav .logo1 .scan img{
    float: left;
    width: 72px;
    height: 72px;
}
#Nav .logo1 .scan1{
    float: left;
    width: 230px;
    border-left: 1px solid #ccc;
}
#Nav .logo1 .scan1 .tubiao{
    float: left;
    width: 74px;
    height: 74px;
    background: url("../img/index/index.png") 159px -157px;
    margin: 0 14px;
}
#Nav .logo1 .scan1 p{
    float: left;
}
#Nav .logo1 .scan1 p.p1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 8px;
}
#Nav .logo1 .scan1 p.p2{
    font-size: 16px;
}
#logo{
    position: absolute;
    left: 0;
    top: 38px;
    opacity: 0;
    width: 79px;
    height: 199px;
    transition: .6s;
    transform: scale(1);
}
#logo.scale{
    transform: scale(0);
}
#figure{
    position: relative;
    top: 0;
    width: 1105px;
    height: 585px;
    margin: 0 auto;
}
#figure img{
    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: 2;
}
#figure .figure{
    position: absolute;
    left: 0;
    bottom: 4px;
    opacity:1;
    transition: 1s;
}
#figure .figure1{
    left: 20px;
    width: 470px;
    height: 537px;
    background: url("../img/index/role/role1.png");
}
#figure .figure2{
    left: 320px;
    width: 423px;
    height: 544px;
    background: url("../img/index/role/role2.png");
}
#figure .figure1.hide,#figure .figure2.hide{
    left: 150px;
    opacity: 0;
}
#figure .figure3{
    left: 0;
    width: 491px;
    height: 583px;
    background: url("../img/index/role/role3.png");
    z-index: 1;
}
#figure .figure4{
    left: 235px;
    width: 503px;
    height: 501px;
    background: url("../img/index/role/role4.png");
}
#figure .figure3.hide,#figure .figure4.hide{
    left: 118px;
    opacity: 0;
}
#figure .btn{
    position: absolute;
    top: 290px;
    right: 256px;
    width: 44px;
    height: 66px;
    background: url("../img/index/index.png") 161px -439px;
    cursor: pointer;
    transition: .5s;
    transform: scale(1);
}
#figure .btn:hover{
    transform: scale(1.1);
}
#server{
    position: absolute;
    bottom: 47px;
    left: 416px;
    z-index: 2;
    cursor: pointer;
    user-select: none;
}
#server:hover{
    opacity: .8;
}
#server img{
    display: block;
    width: 100px;
    height: 120px;
}
#serv{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(255,255,255,.8);
    width: 100%;
    height: 100%;
    z-index: 100;
}
#serv .serv{
    position: absolute;
    top: 75%;
    left: 30%;
    width: 1399px;
    height: 724px;
    background: url("../img/index/pop_bg.png");
    margin-left: -820px;
    margin-top: -412px;
    transform: scale(0);
    transition: .5s;
}
#serv .serv.show{
    top: 50%;
    left: 50%;
    transform: scale(1);
}
#serv .serv .back1{
    position: absolute;
    bottom: 0;
    right: -80px;
    width: 254px;
    height: 175px;
    background: url("../img/index/index.png") -330px 699px;
}
#serv .serv .delete{
    position: absolute;
    top: 94px;
    right: -16px;
    width: 34px;
    height: 34px;
    background: url("../img/index/index.png") 117px -713px;
    transform: rotate(0deg);
    transition: .3s;
}
#serv .serv .delete:hover{
    transform: rotate(180deg);
}
/*end #header*/

/* start #slide 游戏日历*/
#slide{
    position: absolute;
    top: 420px;
    left: 50%;
    width: 520px;
    height: 1100px;
    background: url("../img/index/side_bg.png") no-repeat;
    z-index: 10;
    margin-left: 242px;
}
#title{
    position: absolute;
    left: 25px;
    top: -12px;
    width: 308px;
    height: 165px;
    background: url(../img/index/index.png) -586px 698px;
}
#slide .triangle{
    position: absolute;
    left: 0;
    top: 65px;
    width: 0;
    height: 0;
    border: 5px solid #fccc00;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color:transparent;
}
#download{
    overflow: hidden;
    position: absolute;
    right: 520px;
    top: 43px;
    width: 23px;
    height: 106px;
    background: #fccc00;
    border: 5px solid #fdde00;
    border-right: none;
    padding: 5px;
    border-radius: 10px 0 0 10px;
    transition: .5s;
}
#download.add{
    width: 522px;
}
#download .sao{
    display: none;
    width: 23px;
    height: 106px;
    background: url(../img/index/index.png) 230px -614px;
    cursor: pointer;
}
#download .Main{
    display: block;
    width: 522px;
    height: 100%;
}
#download .Main .float{
    float: left;
}
#download .Main .arrows{
    width: 22px;
    height: 22px;
    background: url("../img/index/index.png") 106px -621px;
    margin-right: 10px;
    cursor: pointer;
}
#download .Main .beta{
    width: 49px;
    height: 100%;
    background: url("../img/index/index.png") 208px -614px;
    margin-right: 5px;
}
#download .Main .code{
    position: relative;
    width: 108px;
    height: 108px;
    background: #fff;
    border-radius: 5px;
}
#download .Main .code .img1{
    display: block;
    width: 108px;
    height: 108px;
    border-radius: 5px;
}
#download .Main .code .img2{
    position: absolute;
    top: 0;
    left: 2px;
    animation: guodan 4s linear infinite;
}
#download .Main .app{
    width: 175px;
    height: 108px;
    margin-left: 6px;
}
#download .Main .app p{
    width: 171px;
    height: 51px;
    background-image: url(../img/index/index.png);
}
#download .Main .app p.p1{
    background-position: -480px 80px;
    margin-bottom: 6px;
}
#download .Main .app p.p2{
    background-position: -651px 80px;
}
#download .Main .load{
    width: 132px;
    height: 107px;
    background: url("../img/index/index2.png") -927px -666px;
    margin-right: 0;
    margin-left: 5px;
}
#calendar{
    position: relative;
    margin-top: 137px;
}
#calendar ul li{
    overflow: hidden;
    position: absolute;
    width: 320px;
    height: 104px;
    margin-bottom: 5px;
    background-image: url("../img/index/index.png");
    transition: left .3s,right .3s,height .3s;
}
#calendar ul li.left{
    left: 28px;
}
#calendar ul li.right{
    right: 200px;
}
#calendar ul li.i1{
    top: 0;
    width: 315px;
    height: 100px;
    background-position: -661px 512px;
    z-index: 13;
}
#calendar ul li.i1.posi{
    background-position: -760px -4px;;
}
/*#calendar ul li:hover{*/
    /*z-index: 3;*/
/*}*/
#calendar ul li.i1:hover{
    height: 206px;
}
#calendar ul li.left:hover{
    left: 40px;
}
#calendar ul li.right:hover{
    right: 189px;
}
#calendar ul li.i2{
    top: 105px;
    width: 322px;
    height: 91px;
    background-position: -617px 257px;
    z-index: 12;
}
#calendar ul li.i2:hover{
    height: 364px;
}
#calendar ul li.i2.posi{
    background-position: -310px -2px;
}
#calendar ul li.i3{
    top: 198px;
    width: 305px;
    height: 92px;
    background-position: -308px 257px;
    z-index: 11;
}
#calendar ul li.i3.posi{
    background-position: -620px 888px;
}
#calendar ul li.i3:hover{
    height: 185px;
}
#calendar ul li.i4{
    top: 291px;
    width: 294px;
    height: 100px;
    background-position: -301px 363px;
    z-index: 10;
}
#calendar ul li.i4:hover{
    height: 188px;
}
#calendar ul li.i4.posi{
    background-position: -327px -666px;
}
#calendar ul li.i5{
    top: 396px;
    width: 319px;
    height: 131px;
    background-position: -330px 503px;
    z-index: 9;
}
#calendar ul li.i5:hover{
    height: 286px;
    left: 28px;
}
#calendar ul li.i5.posi{
    background-position: 0 -380px;
}
#calendar ul li.i6{
    top: 479px;
    width: 307px;
    height: 98px;
    background-position: -2px 259px;
    z-index: 8;
}
#calendar ul li.i6:hover{
    height: 364px;
}
#calendar ul li.i6.posi{
    background-position: -3px 0;
}
#calendar ul li.i7{
    top: 572px;
    width: 308px;
    height: 100px;
    background-position: 478px 668px;
    z-index: 7;
}
#calendar ul li.i8{
    top: 668px;
    width: 305px;
    height: 90px;
    background-position: 645px 360px;
    z-index: 6;
}
#calendar ul li.i9{
    top: 754px;
    width: 312px;
    height: 98px;
    background-position: -595px 363px;
    z-index: 5;
}

#calendar ul li.left p.show{
    position: absolute;
    top: 52px;
    left: 26px;
    width: 184px;
    font-size: 13px;
}
#calendar ul li.left div.hide{
    position: absolute;
    top: 122px;
    left: 26px;
    width: 230px;
    font-size: 13px;
    margin-bottom: 10px;
}
#calendar ul li div.hide{
    display: none;
}
#calendar ul li.i1.left div.hide{
    top: 120px;
}
#calendar ul li.i1.left div.hide p.hide{
    margin-bottom: 8px;
}
#calendar ul li.i3.left div.hide{
    top: 100px;
}
#calendar ul li.i3.left p.show{
    top: 45px;
}
#calendar ul li.i4.right p.show{
    top: 46px;
    left: 134px;
}
#calendar ul li.i4.right div.hide{
    left: 25px;
    width: 236px;
}
#calendar ul li.i5.left p.show{
    left: 10px;
    top: 48px;
    width: 200px;
}
#calendar ul li.i5.left div.hide{
    top: 90px;
    width: 240px;
    left: 16px;
}
#calendar ul li.i5.left div.hide p.hide{
    margin-bottom: 8px;
}
#calendar ul li.i6.right p.show{
    top: 60px;
    left: 140px;
}
#calendar ul li.i7.left p.show{
    top: 46px;
    left: 20px;
    width: 170px;
}
#calendar ul li.i8.right p.show{
    top: 42px;
    left: 100px;
    width: 200px;
}
#calendar ul li.i9.left p.show{
    top: 60px;
}
#calendar ul li.right p.show{
    position: absolute;
    top: 40px;
    left: 160px;
    width: 146px;
    font-size: 13px;
}
#calendar ul li.right div.hide{
    position: absolute;
    top: 98px;
    left: 64px;
    width: 230px;
}
#calendar ul li.right div.hide p.hide{
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 20px;
}
/* end #slide*/

/*start #notice 游戏公告*/
#notice{
    width: 1400px;
    height: 270px;
    margin: 0 auto;
}
#notice .not1{
    overflow: hidden;
    float: left;
    position: relative;
    width: 360px;
    height: 270px;
    margin-right: 40px;
}
#notice .not1 .banner{
    width: 100%;
    height: 100%;
}
#notice .not1 .banner ul.list{
    position: absolute;
    top: 0;
    left: 0;
    width: 1000%;
    height: 100%;
}
#notice .not1 .banner ul li {
    float: left;
    width: 10%;
    height: 100%;
}
#notice .not1 .banner ul li a img{
    width: 100%;
    height: 100%;
}
#notice .not1 .btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 125px;
    margin-left: -60px;
}
#notice .not1 .btn ul li{
    float: left;
    width: 8px;
    height: 8px;
    border: 4px solid #e37b63;
    border-radius: 100%;
    cursor: pointer;
    margin: 0 2px;
}
#notice .not1 .btn ul li.show{
    background: #e37b63;
}
#notice .not2{
    float: left;
    width: 506px;
    height: 258px;
}
#notice .not2 .head{
    overflow: hidden;
    width: 100%;
    height: 46px;
    border-bottom: 2px solid #000;
    margin-bottom: 2px;
}
#notice .not2 .head ul li{
    float: left;
    position: relative;
    width: 92px;
    height: 46px;
}
#notice .not2 .head ul li span{
    position: absolute;
    left: 31px;
    top: 0;
    width: 48px;
    height: 31px;
    background-image: url("../img/index/index.png");
    z-index: 2;
}
#notice .not2 .head ul li b{
    position: absolute;
    right: 0;
    top: 20px;
    opacity: 0;
    width: 76px;
    height: 34px;
    background: #68d7fc;
    border-radius: 17px;
    transition: 0.3s cubic-bezier(1,0,1,.5) ;
}
#notice .not2 .head ul li.show b{
    opacity: 1;
    top: 5px;
}
#notice .not2 .head ul li i{
    position: absolute;
    top: 6px;
    left: 2px;
    width: 20px;
    height: 30px;
    background: url("../img/index/index.png") 99px -503px;
}
#notice .not2 .head ul li.l1{
    width: 76px;
}
#notice .not2 .head ul li.l1 span{
    left: 14px;
    background-position: 160px 405px;
}
#notice .not2 .head ul li.l2 span{
    background-position: 160px 526px;
}
#notice .not2 .head ul li.l3 span{
    background-position: 160px 465px;
}
#notice .not2 .head ul li.l4 span{
    height: 30px;
    background-position: 160px 434px;
}
#notice .not2 .head ul li.l5 span{
    background-position: 160px 495px;
}
#notice .not2 .btn{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 205px;
    border-top: 1px solid #000;
}
#notice .not2 .btn ul.notul{
    position: absolute;
    left: 0;
    top: 0;
    width: 1000%;
    height: 100%;
}
#notice .not2 .btn ul li{
    float: left;
    width: 10%;
    height: 100%;
}
#notice .not2 .btn ul li ul li{
    width: 100%;
    height: 40px;
    border-bottom: 1px dotted #000;
}
#notice .not2 .btn ul li ul li a p{
    float: left;
    width: 400px;
    height: 100%;
    color: #000;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#notice .not2 .btn ul li ul li a p:hover{
    color: #c1831c;
}
#notice .not2 .btn ul li ul li span{
    float: right;
    height: 100%;
    line-height: 40px;
    color: #bccddc;
}
/*end #notice */

/* start #safety 式神列表*/
#safety{
    width: 100%;
    height: 601px;
    background: url("../img/index/content/strategy_bg.jpg") center top;
    margin-top: 40px;
}
#safety .safe{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
#safety .safe .title{
    position: relative;
    width: 100%;
    height: 95px;
}
#safety .title .travel{
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    float: left;
    width: 130px;
    height: 72px;
    background: url(../img/index/index.png)-411px -587px;
    margin-top: 14px;
}
#safety .title .dashed{
    float: left;
    width: 44px;
    height: 4px;
    background: url("../img/index/index2.png") -1505px -792px;
    margin: 48px 10px 0;
}
#safety .title .figure{
    float: left;
    position: relative;
    width: 96px;
    height: 92px;
    margin-top: 4px;
}
#safety .title .figure p.fig{
    position: absolute;
    left: 0;
    top: 12px;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: url("../img/index/index.png")619px 259px;
    transition: .6s;
}
#safety .title .figure:hover p.fig{
    opacity: 1;
    top: 0;
}
#safety .title .figure.show p.fig{
    opacity: 1;
    top: 0;
}
#safety .title .figure span{
    position: absolute;
    width: 70px;
    height: 33px;
    background-image: url(../img/index/index.png);
}
#safety .title .figure span.shi{
    left: 14px;
    top: 26px;
    background-position: 158px 691px;;
}
#safety .title .figure span.zhu{
    left: 15px;
    top: 24px;
    width: 65px;
    height: 36px;
    background-position: 80px 116px;
}
#safety .shishen{
    float: left;
    position: relative;
    width: 844px;
    height: 354px;
}
#safety .shishen .chara{
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
}
#safety .chara .shen{
    float: left;
    width: 800px;
    height: 29px;
    padding: 10px 0 10px 10px;
    border-bottom: 1px dotted #000;
    margin-top: 44px;
    line-height: 29px;
}
#safety .chara .shen ul li{
    float: left;
    cursor: pointer;
    user-select: none;
}
#safety .chara .shen ul li.ss{
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
}
#safety .chara .shen ul li.ss:hover{
    color: #cea441;
}
#safety .chara .shen ul li.complete{
    width: 131px;
    height: 29px;
    background: url("../img/index/content/viewAll_btn.png");
}
#safety .chara .shen ul li.color{
    color: #cea441;
}
#safety .chara .person{
    position: relative;
    float: left;
    width: 810px;
    height: 212px;
    margin-top: 33px;
}
#safety .chara .person .impose{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 810px;
    height: 212px;
}
#safety .chara .person .impose .posebtn{
    position: absolute;
    left: 0;
    top: 0;
    width: 788px;
    height: 212px;
}
#safety .chara .person .impose .posebtn .site{
    position: absolute;
    top: 50%;
    width: 43px;
    height: 33px;
    background-image: url(../img/index/index.png);
    margin-top: -18px;
}
#safety .chara .person .impose .posebtn .left{
    left: -45px;
    background-position: 159px 724px;
}
#safety .chara .person .impose .posebtn .left:hover{
    background-position: 159px 592px;
}
#safety .chara .person .impose .posebtn .right{
    right: -24px;
    background-position: 159px 625px;
}
#safety .chara .person .impose .posebtn .right:hover{
    background-position: 159px 658px;
}
#safety .chara .person .impose .obtn{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 780px;
    height: 212px;
}
#safety .chara .person .impose .obtn ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 2000%;
    height: 100%;
    user-select: none;
}
#safety .chara .person .impose.appear{
    display: block;
}
#safety .chara .person .impose ul li.lison{
    float: left;
    width: 89px;
    height: 202px;
    padding: 5px 24px 0 0;
    margin-right: 24px;
    border-right: 1px solid #999;
}
#safety .chara .person .impose ul li.lison .son{
    position: relative;
    width: 100%;
    height: 92px;
    background: url("../img/index/index.png")-1218px -1193px;
    margin-bottom: 15px;
}
#safety .chara .person .impose ul li.lison .son:hover .cover{
    opacity: 1;
}
#safety .chara .person .impose ul li.lison .son img{
    position: absolute;
    left: 3px;
    top: 3px;
    width: 82px;
    height: 82px;
    border-radius: 100%;
}
#safety .chara .person .impose ul li.lison .son .cover{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 2;
    border-radius: 100%;
    transition: .3s;
}
#safety .chara .person .impose ul li.lison .son em.new{
    position: absolute;
    top: 4px;
    right: -10px;
    width: 31px;
    height: 36px;
    background: url("../img/index/content/shishen/new_icon.png") no-repeat;
}
#safety .chara .person .impose ul li.lison .son .cover i{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 14px;
    color: #fff;
    line-height: 16px;
    transform: translate(-50%,-50%);
    font-style: inherit;
    font-weight: 400;
}
#safety .protag{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 820px;
    height: 360px;
}
#safety .protag .actor{
    float: left;
    width: 140px;
    height: 220px;
    margin-top: 64px;
}
#safety .protag .actor ul{
    float: left;
    width: 140px;
    height: 224px;
}
#safety .protag .actor ul li.tor{
    position: relative;
    float: left;
    width: 100%;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    border: 2px solid #fff;
    cursor: pointer;
    margin-bottom: 20px;
    user-select: none;
}
#safety .protag .actor ul li.tor .triangle{
    opacity: 0;
    position: absolute;
    right: -15px;
    top: 50%;
    width: 0;
    height: 0;
    border: 5px solid #000;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin-top: -5px;
}
/*#safety .protag .actor ul li.tor:hover .triangle{*/
    /*display: block;*/
/*}*/
#safety .protag .actor ul li:hover,#safety .protag .actor ul li.border{
    border: 2px solid #000;
    background: #fff;
}
#safety .protag .actor ul li.tor:hover .triangle,#safety .protag .actor ul li.border .triangle{
    opacity: 1;
}
#safety .protag .actor ul li.border{
    border: 2px solid #000;
    background: #fff;
}
#safety .protag .referral{
    float: right;
    width: 670px;
    height: 100%;
}
#safety .protag .referral ul{
    position: relative;
    width: 660px;
    height: 360px;
}
#safety .protag .referral ul li{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 660px;
    height: 360px;
    user-select: none;
    transition: .3s;
}
#safety .protag .referral ul li.showli{
    opacity: 1;
    z-index: 3;
}
#safety .protag .referral ul li .img{
    position: absolute;
    right: 266px;
    top: 14px;
    /*width: 380px;*/
    /*height: 346px;*/
}
#safety .protag .referral ul li .img img{
    display: block;
    width: 100%;
    height: 100%;
}
#safety .protag .referral ul li .tation{
    position: absolute;
    right: 0;
    top: 90px;
    width: 226px;
    height: 234px;
}
#safety .protag .repeat{
    position: relative;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #000;
}
#safety .protag .referral ul li .tation .repeat .p1{
    float: left;
    width: 38px;
    height: 23px;
    background-image: url("../img/index/index.png");
}
#safety .protag .referral ul li.li1 .tation .repeat .p1{
    background-position: 121px 351px;;
}
#safety .protag .referral ul li.li2 .tation .repeat .p1{
    background-position: 158px 374px;
}
#safety .protag .referral ul li.li3 .tation .repeat .p1{
    background-position: 121px 374px;
}
#safety .protag .referral ul li.li4 .tation .repeat .p1{
    background-position: 158px 350px;
}
#safety .protag .repeat .p2{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 30px;
    font-weight: bold;
}
#safety .protag .brief .p3{
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
}
#safety .protag .brief{
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 226px;
    height: 144px;
    border-top: 1px solid #000;
}
#safety .protag .brief .pan{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 56px;
    height: 43px;
    background: url(../img/index/index.png)158px 885px;
}
/* end #safety*/

/* start #strategy 游戏攻略*/
#strategy{
    width: 1200px;
    margin: 0 auto 74px;
}
#strategy:after{
    content: "";
    display: block;
    clear: both;
}
#strategy .leftstra{
    float: left;
    position: relative;
    width: 368px;
    height: 430px;
    border: 2px solid #000;
}
#strategy .leftstra .seek{
    position: absolute;
    top: -74px;
    left: -2px;
    width: 100%;
    height: 58px;
}
#strategy .leftstra .seek input{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 38px;
    border: 2px solid #000;
    text-indent: 20px;
    font-size: 16px;
}
#strategy .leftstra .seek .click{
    position: absolute;
    right: -6px;
    bottom: 0;
    width: 60px;
    height: 58px;
    background-image: url(../img/index/index.png);
    background-position: 159px -563px;
}
#strategy .leftstra .seek .click:hover{
    background-position: 159px -505px;
}
#strategy .leftstra .banner{
    position: relative;
    width: 100%;
    height: 265px;
    margin-bottom: 10px;
}
#strategy .leftstra .banner .pic{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 228px;
}
#strategy .leftstra .banner .pic ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 1000%;
    height: 100%;
}
#strategy .leftstra .banner .pic>ul>li{
    float: left;
    width: 10%;
    height: 100%;
}
#strategy .leftstra .banner .type{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50px;
    height: 18px;
    margin-left: -22px;
}
#strategy .leftstra .banner .type>ul>li{
    float: left;
    width: 10px;
    height: 10px;
    border: 4px solid #000;
    border-radius: 100%;
    margin-right: 5px;
}
#strategy .leftstra .banner .type>ul>li.show{
    background: #000;
}
#strategy .leftstra .activity{
    width: 100%;
    height: 150px;
}
#strategy .leftstra .activity ul li{
    float: left;
    position: relative;
    width: 92px;
    height: 150px;
}
#strategy .leftstra .activity ul li span{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 136px;
    background-image: url(../img/index/index.png);
    margin-left: -12px;
    transition: .5s;
}
#strategy .leftstra .activity ul li:hover span{
    top: -10px;
}
#strategy .leftstra .activity ul li i{
    position: absolute;
    top: 0;
    right: 0;
    width: 11px;
    height: 150px;
    background: url(../img/index/index.png)263px -315px;
}
#strategy .leftstra .activity ul li.l1 span{
    background-position: 214px -315px;
}
#strategy .leftstra .activity ul li.l2 span{
    background-position:  251px -465px;
}
#strategy .leftstra .activity ul li.l3 span{
    background-position: 238px -315px;
}
#strategy .leftstra .activity ul li.l4 span{
    background-position: 190px -315px;
}
#strategy .rightstra{
    float: right;
    width: 776px;
    margin-right: 14px;
}
#strategy .rightstra .header{
    position: relative;
    width: 776px;
    height: 104px;
    border-bottom: 1px solid #ccc;
    padding-top: 4px;
}
#strategy .rightstra .header li.strategy{
    width: 135px;
    height: 87px;
    background: url("../img/index/index.png") 523px 260px;
    margin: 0 0 20px -14px;
}
#strategy .rightstra .header li.spot{
    width: 44px;
    height: 4px;
    background: url(../img/index/index2.png) -1505px -792px;
    margin: 48px 10px 0;
}
#strategy .rightstra .header li{
    float: left;
    position: relative;
    width: 96px;
    height: 92px;
}
#strategy .rightstra .header li>b{
    position: absolute;
    top: 20px;
    left: 50%;
    width: 68px;
    height: 40px;
    background: url("../img/index/index.png") 158px 802px;
    margin-left: -34px;
}
#strategy .rightstra .header li>span{
    position: absolute;
    top: 12px;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: url("../img/index/index.png") 618px 260px;
    transition: .6s;
}
#strategy .rightstra .header li.show span{
    opacity: 1;
    top: 0;
}
#strategy .rightstra .header li.shishen b{
    top: 28px;
    width: 72px;
    height: 32px;
    background-position: 158px 558px;
    margin-left: -36px;
}
#strategy .rightstra .header li.duel b{
    top: 25px;
    width: 75px;
    height: 36px;
    background-position: 159px 762px;
    margin-left: -37.5px;
}
#strategy .rightstra .header li.plating b{
    top: 28px;
    width: 82px;
    height: 32px;
    background-position: 319px 564px;
    margin-left: -41px;
}
#strategy .bodyer{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 30px;
}
#strategy .bodyer ul.list{
    position: absolute;
    top: 0;
    left: 0;
    width: 1000%;
    height: 100%;
}
#strategy .bodyer ul.list li.listli{
    overflow: hidden;
    position: relative;
    float: left;
    width: 834px;
    height: 100%;
}
#strategy .bodyer ul.list li.listli ul{
    width: 100%;
    height: 100%;
    padding-left: 5px;
}
#strategy .bodyer ul.list li.listli ul li{
    position: relative;
    float: left;
    width: 342px;
    height: 48px;
    margin-right: 60px;
    border-bottom: 1px dotted #ccc;
    padding-top: 10px;
    padding-left: 15px;
}
#strategy .bodyer ul.list li.listli ul li p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#strategy .bodyer ul.list li.listli ul li b{
    display: block;
    color: #b2afaf;
    font-weight: 400;
    margin-top: 4px;
}
#strategy .bodyer ul.list li.listli ul li i{
    position: absolute;
    top: 16px;
    left: -4px;
    width: 0;
    height: 0;
    border: 7px solid  #000;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: transparent;
}
/* end #strategy*/

/* start #colleagues 同人专区*/
#colleagues{
    width: 1200px;
    margin: 0 auto;
}
#colleagues:after{
    content: "";
    display: block;
    clear: both;
}
#colleagues .collTop{
    position: relative;
    width: 100%;
    height: 75px;
    margin-bottom: 46px;
}
#colleagues .collTop .colleagues{
    float: left;
    width: 114px;
    height: 107px;
    background: url("../img/index/index.png")631px 891px;
    margin-top: -18px;
    margin-right: 24px;
}
#colleagues .collTop ul li{
    overflow: hidden;
    position: relative;
    float: left;
    width: 160px;
    height: 75px;
    border-bottom: 2px solid #000;
}
#colleagues .collTop ul li p{
    position: relative;
    width: 159px;
    height: 58px;
    border-right: 1px dotted #000;
}
#colleagues .collTop ul li p b{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 73px;
    height: 18px;
    background: url(../img/index/index.png)158px 292px;
    margin: auto;
    transition: .3s;
}
#colleagues .collTop ul li span{
    position: absolute;
    left: 0;
    bottom: -56px;
    width: 100%;
    height: 54px;
    background-image: url(../img/index/icons.png);
    transition: .3s;
}
#colleagues .collTop ul li.show span{
    bottom: -3px;
}
#colleagues .collTop ul li.show p b{
    top: -36px;
}
#colleagues .collTop ul li.l1 span{
    height: 54px;
    background-position: 0 0;
}
#colleagues .collTop ul li.l2 span{
    height: 54px;
    background-position: -164px 0;
}
#colleagues .collTop ul li.l3 span{
    background-position: -312px 0;
}
#colleagues .collTop ul li.l4 span{
    background-position: -475px 0;
}
#colleagues .collTop ul li.l5 span{
    background-position: -625px 0;
}
#colleagues .collTop ul li.l6 span{
    background-position: -780px 0;
}
#colleagues .collTop ul li.l6 p{
    width: 160px;
}
#colleagues .collTop ul li.l7{
    overflow: visible;
    width: 102px;
}
#colleagues .collTop ul li.l7 em{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 24px;
    background: url(../img/index/index.png) 628px -608px;
    transition: .3s;
}
#colleagues .collTop ul li.l7:hover em{
    left: 10px;
}
#colleagues .collTop ul li.l7 span{
    background-position: -625px 0;
}
#colleagues .collTop ul li.l2 p b{
    width: 72px;
    height: 17px;
    background-position: 158px 292px;
}
#colleagues .collTop ul li.l3 p b{
    background-position: 158px 274px;
}
#colleagues .collTop ul li.l4 p b{
    background-position: 158px 310px;
}
#colleagues .collTop ul li.l5 p b{
    background-position: 158px 328px;
}
#colleagues .collTop ul li.l6 p b{
    width: 90px;
    height: 18px;
    background-position: 306px 407px;
}
#colleagues .collBottom{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 410px;
}
#colleagues .collBottom ul.collList{
    position: absolute;
    top: 0;
    left: 0;
    width: 1000%;
    height: 410px;
}
#colleagues .collBottom ul.collList li{
    float: left;
    width: 10%;
    height: 100%;
}
#colleagues .collBottom ul.collList li ul li{
    position: relative;
    float: left;
    width: 280px;
    height: 200px;
    margin: 0 10px 10px;
}
#colleagues .collBottom ul.collList li ul li .img{
    position: relative;
    width: 100%;
    height: 164px;
}
#colleagues .collBottom ul.collList li ul li .img img{
    display: block;
    width: 100%;
    height: 100%;
}
#colleagues .collBottom ul.collList li ul li .img span{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
#colleagues .collBottom ul.collList li ul li:hover .img span{
    display: block;
}
#colleagues .collBottom ul.collList li ul li .img span em{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 94px;
    background: url(../img/index/index.png) -679px -474px;
    margin-top: -47px;
    margin-left: -40px;
}
#colleagues .collBottom ul.collList li ul li p{
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* end #colleagues*/

/* start #video 阴阳师视频*/
#video{
    position: relative;
    width: 100%;
    height: 514px;
    background: url("../img/index/video/video_bg.jpg");
    margin-top: 50px;
}
#video .video{
    width: 1200px;
    height: 418px;
    margin: 0 auto;
    padding-top: 60px;
}
#video .video .leftvid{
    float: left;
}
#video .video .rightvid{
    float: right;
}
#video .video .vid{
    width: 560px;
    height: 414px;
}
#video .video .vid ul{
    width: 110%;
    height: 100%;
}
#video .video .vid ul li{
    overflow: hidden;
    float: left;
    position: relative;
    width: 270px;
    height: 200px;
    margin: 0 18px 18px 0;
}
#video .video .vid ul li.l1 .img{
    width: 228px;
    height: 150px;
    background: url("../img/index/index.png") 479px -468px;
}
#video .video .vid ul li.l2 .img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 156px;
    transform: scale(1);
    transition: .4s;
    z-index: 2;
}
#video .video .vid ul li.l2 .img img{
    display: block;
    width: 100%;
    height: 100%;
}
#video .video .vid ul li.l2:hover .img{
    transform: scale(1.1);
}
#video .video .vid ul li.l2 p{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 44px;
    background: #fff;
    line-height: 44px;
    text-indent: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#video .video .rightvid ul li.l2 p{
    background: transparent;
}
#video .video .rightvid ul li.l1 .img{
    background-position: 451px -614px;
    width: 220px;
    height: 148px;
}
/* end #video*/

/* start #activity 活动专区*/
#activity{
    width: 1200px;
    height: 636px;
    margin: 70px auto 0;
}
#activity .activity{
    position: relative;
    width: 100%;
    height: 344px;
}
#activity .activity .title{
    position: absolute;
    left: -30px;
    top: 0;
    width: 257px;
    height: 370px;
}
#activity .activity .gift{
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 910px;
    height: 344px;
}
#activity .activity .gift ul{
    width: 110%;
    height: 100%;
}
#activity .activity .gift ul li{
    overflow: hidden;
    float: left;
    position: relative;
    width: 270px;
    height: 153px;
    margin: 0 50px 36px 0;
}
#activity .activity .gift ul li img{
    display: inline-block;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: .3s;
}
#activity .activity .gift ul li:hover img{
    transform: scale(1.06);
}
#activity .activity .gift ul li p{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#activity .serve{
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 94px;
}
#activity .serve .title{
    float: left;
    width: 70px;
    height: 199px;
}
#activity .serve .liao{
    float: left;
    position: relative;
    width: 270px;
    height: 100%;
    background: #f6f6f6;
    margin-left: 120px;
}
#activity .serve .liao .attention{
    width: 240px;
    height: 170px;
    margin: 20px 0 0 30px;
}
#activity .serve .liao .attention i{
    width: 54px;
    height: 2px;
    background: #ccc;
}
#activity .serve .liao .attention .saoma{
    position: relative;
    width: 60px;
    height: 140px;
}
#activity .serve .liao .attention p.p1{
    float: left;
    width: 16px;
    font-size: 16px;
    margin-right: 10px;
    line-height: 17px;
}
#activity .serve .liao .attention span{
    position: absolute;
    right: -20px;
    top: 2px;
    width: 24px;
    height: 96px;
    background: url(../img/index/index2.png)-717px -364px;
}
#activity .serve p.game{
    padding: 10px 0;
}
#activity .serve p.game b{
    color: #d2c119;
    font-weight: 400;
}
#activity .serve .code{
    position: absolute;
    top: -32px;
    right: -32px;
    width: 132px;
    height: 132px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 15px;
}
#activity .serve .code img{
    display: block;
    width: 100%;
    height: 100%;
}
#activity .serve .weixin .attention span{
    width: 24px;
    height: 122px;
    background-position: 211px -465px;
}
#activity .serve .phone{
    float: left;
    position: relative;
    width: 230px;
    height: 100%;
    margin-left: 120px;
}
#activity .serve .phone .pho{
    position: absolute;
    top: -32px;
    left: 0;
    width: 110px;
    height: 110px;
    background: url(../img/index/index2.png) -569px -473px;
}
#activity .serve .phone .p1{
    padding-top: 100px;
}
#activity .serve .phone .p2{
    font-family: Georgia,"Microsoft Yahei";
    font-size: 20px;
    margin-bottom: 24px;
}
#activity .serve .phone i{
    width: 54px;
    height: 2px;
    background: #ccc;
}
#activity .serve .phone span{
    display: block;
    color: #d2c119;
    margin-top: 2px;
}
#activity .serve .return{
    position: absolute;
    right: -53px;
    top: 12px;
    width: 26px;
    height: 112px;
    background: url(../img/index/index2.png) 297px 766px;
    cursor: pointer;
    transition: .5s;
}
#activity .serve .return:hover{
    top: -10px;
}
/* end #activity */

/* start #footer 页脚*/
#footer{
    width: 100%;
    height: 720px;
    margin-top: 78px;
}
#footer .foot1{
    width: 100%;
    height: 407px;
    background: url("../img/index/foot.jpg") top center no-repeat;
    margin: 0 auto;
    padding-top: 117px;
}
#footer .foot1 .title{
    width: 591px;
    height: 30px;
    background: url(../img/index/index.png)-661px 407px;
    margin: 0 auto;
}
#footer .foot1 .center{
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 377px;
    margin: 0 auto;
}
#footer .foot1 .center .p1{
    position: absolute;
    top: 53px;
    left: 50%;
    width: 120px;
    height: 25px;
    background: url("../img/index/index.png") -930px -632px;
    margin-left: -60px;
    transition: .5s;
}
#footer .foot1 .center .p2{
    position: absolute;
    top: 106px;
    left: 50%;
    width: 22px;
    height: 70px;
    background: url(../img/index/index.png) 158px -81px;
    margin-left: -11px;
    transition: .5s;
}
#footer .foot1 .center .p3{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 240px;
    height: 182px;
    background: url(../img/index/index.png) -329px -363px;
    margin-left: -120px;
    transition: .5s;
}
#footer .foot1 .center:hover .p3{
    bottom: -40px;
}
#footer .foot1 .center:hover .p2{
    top: 30px
}
#footer .foot1 .center:hover .p1{
    opacity: 0;
}
#footer .foot1 .center .cen{
    position: absolute;
    top: 130px;
    left: 75px;
    opacity: 0;
    width: 200px;
    height: 154px;
    transition: .5s;
}
#footer .foot1 .center:hover .cen{
    top: 80px;
    opacity: 1;
}
#footer .foot1 .center .cen img{
    float: left;
    width: 154px;
    height: 154px;
    box-shadow: 0 0 24px #8de3e4;;
}
#footer .foot1 .center .cen span{
    float: right;
    width: 16px;
    height: 100%;
    background: url(../img/index/index.png) 279px -314px;
}
#footer .bottom{
    overflow: hidden;
    width: 100%;
    height: 196px;
    background: #fff;
}
#footer .bottom .bott{
    width: 808px;
    height: 120px;
    margin: 0 auto;
}
#footer .bottom .bott .wangyi{
    width: 100%;
    height: 50px;
}
#footer .bottom .bott .wangyi .left{
    float: left;
}
#footer .bottom .bott .wangyi .right{
    float: right;
    font-size: 13px;
    line-height: 24px;
}
#footer .bottom .bott .wangyi .right .p1 i{
    float: right;
    background: #5a0000;
    color: #fff;
    padding: 2px;
    font-size: 14px;
    cursor: pointer;
}
#footer .bottom .bott .wangyi .right .p1 i:hover{
    text-decoration: underline;
}
#footer .bottom .bott .btn{
    font-size: 12px;
    line-height: 24px;
    padding-top: 10px;
}
#footer .bottom .show{
    position: relative;
    top: 0;
    opacity: 1;
    width: 420px;
    height: 20px;
    margin: 20px auto 12px;
    color: #666;
}
#footer .bottom .show ul li {
    float: left;
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
    color: #de7f7f;
}
#footer .bottom .show ul li:hover{
    opacity: .5;
}
#footer .bottom .show p{
    float: left;
    color: #de7f7f;
}
#footer .bottom .show ul li span{
    float: left;
    width: 20px;
    height: 20px;
}
#footer .bottom .show ul li span.pan1{
    background: url(../img/icon.v5.png)0 -350px no-repeat;
}
#footer .bottom .show ul li span.pan2{
    background: url(../img/icon.v5.png)0 -325px no-repeat;
}
#footer .bottom .show ul li span.pan3{
    background: url(../img/icon.v5.png)0 -25px no-repeat;
}
#footer .bottom .show ul li span.pan4{
    background: url(../img/icon.v5.png)0 0 no-repeat;
}
#footer .bottom .show ul li span.pan5{
    background: url(../img/icon.v5.png)0 -50px no-repeat;
}
#footer .bottom .show ul li span.pan6{
    background: url(../img/icon.v5.png)0 -375px no-repeat;
}
#footer .bottom .show ul li p{
    float: left;
    margin-left: 5px;
    font-size: 16px;
    line-height: 19px;
}
/* end #footer*/
@keyframes guodan {
    from{top: 0}
    to{top: 104px}
}
