body{
    min-width: 1280px;
}
body.boshow{
    overflow: hidden;
    height: 100%;
}
#tp{
    position: relative;
    top: -100px;
    left: 0;
    width: 100%;
    height: 55px;
    background: #fff;
    z-index: 10;
}
#tp .tp{
    width: 1260px;
    height: 100%;
    margin: 0 auto;
}
#tp .tp h2{
    float: left;
    width: 133px;
    height: 44px;
    background-image: url("../img/logo.png");
    margin-top: 5px;
}
#tp .tp .tp1{
    float: left;
    width: 420px;
    height: 100%;
    margin-left: 10px;
}
#tp .tp .tp1 img{
    display: block;
    width: 100%;
    height: 100%;
}
#tp .tp .tp2{
    float: right;
    height: 55px;
}
#tp .tp .tp2 a.bgg{
    color: #000;
}
#tp .tp .tp3 i{
    position: absolute;
    top: 19px;
    right: 1px;
    display: block;
    width: 16px;
    height: 16px;
    background: #fff url(../img/22.png) no-repeat -99px -95px;
}
#tp .tp .bgg{
    float: left;
    height: 52px;
    line-height: 52px;
    text-align: center;
    padding: 0 20px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    font-size: 12px;
    transition: background .5s;
}
#tp .tp .tp3{
    position: relative;
    color: #bc2e2e;
    /*padding: 0 20px 0 5px;*/
}
#tp .tp .bgg:hover{
    background-color: #F3F3F3;
    color: #bc2e2e;
    background-image: -webkit-linear-gradient(top,#F3F3F3 0,#FEFEFE 52px);
    border-bottom: 3px solid #bc2e2e;
}
#bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2600px;
    z-index: 0;
}
#bg .bg{
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
    height: 1080px;
    background-position: top center;
    background-repeat: no-repeat;
}
#bg .bcc embed{
    opacity: 0;
}

#bg .bg1{
    height: 1080px;
    background: url("../img/bg1.jpg")center/cover no-repeat;
}
#bg .bg2{
    height: 1080px;
    background: url("../img/bg2.jpg")center/cover no-repeat;
}
#bg .bg3{
    height: 527px;
    background: url("../img/bg3.jpg")center/cover no-repeat;
}

#wrap{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 1080px;
}
#huado #logo{
    opacity: 0;
    position: relative;
    top: 20px;
    left: -300px;
    width: 150px;
    height: 110px;
}
#huado #logo img{
    float: left;
}
#huado #logo .img2{
    display: block;
    width: 88px;
    height: 88px;
    border: 2px solid #fff;
    border-radius: 20px;
    margin-left: 10px;
}
#huado #wrp2{
    position: absolute;
    right: -260px;
    top: 34px;
    opacity: 0;
    width: 176px;
    height: 44px;
    cursor: pointer;
    background-image: url("../img/goindex.png");
    z-index: 2;
}
#huado #wrp2 a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: background 0.5s;
}
#huado #wrp2 a:hover{
    background: url("../img/goweb2.png") no-repeat;
}
#huado #wrp3{
    position: absolute;
    top: 500px;
    left: 50%;
    opacity: 0;
    width: 340px;
    height: 521px;
    background-image: url("../img/swp3.png");
    margin-left: 300px;
}
#huado #wrp4{
    position: absolute;
    top: 814px;
    left: 50%;
    opacity: 0;
    width: 340px;
    height: 160px;
    margin-left: 210px;
}
#huado #wrp4 p{
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #3d2672;
    font-weight: bold;
    font-size: 16px;
}
#huado #wrp4 .qcode{
    position: relative;
    float: left;
    width: 130px;
    height: 130px;
    background: rgba(250,250,250,.5) no-repeat url(../img/qrcode.png)center center/120px 120px;
    border-radius: 10px;
}
#huado #wrp4 .qcode img{
    position: absolute;
    top: 0;
    left: -10px;
    display: block;
    width: 155px;
    height: 10px;
    animation: goudan 4s linear infinite;
}
#huado #wrp4 .dowcode{
    float: right;
    width: 206px;
    height: 128px;
}
#huado #wrp4 .dowcode a{
    display: block;
    margin-bottom: 5px;
}
#huado #wrp5{
    position: absolute;
    top: 452px;
    left: 50%;
    width: 118px;
    height: 118px;
    background: url("../img/videoBtn.png") -48px -2px no-repeat;
    cursor: pointer;
    margin-left: 264px;
}
#huado #wrp6{
    position: absolute;
    left: 50%;
    bottom: 230px;
    width: 30px;
    height: 70px;
    background-image: url(../img/dBtn.png);
    margin-left: -15px;
    animation: hua 1.5s linear infinite;
}
#wrap .video {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1000;
    background: rgba(0,0,0,.8);
}
#wrap .video .vid{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 450px;
    margin: auto;
    border: 2px solid #b69476;
}
#wrap .video .vid .noScroll,#popwindow .content .close{
    position: absolute;
    right: -42px;
    top: 0;
    width: 34px;
    height: 34px;
    background: url("../img/close.png") 0 0/100% 100%;
    transform: rotate(0deg);
    transition: .3s;
    cursor: pointer;
}
#wrap .video .vid .noScroll:hover,#popwindow .content .close:hover{
    transform: rotate(180deg);
}

#newinf{
    position: relative;
}
#newinf #new1{
    width: 1280px;
    margin: 0 auto;
}
#newinf #new1 .title{
    position: relative;
    top: 0;
    width: 800px;
    height: 150px;
    margin: 0 auto;
    transition: .8s;
}
#newinf #new1 .title.hide{
    opacity: 0;
    top: 100px;
}
#newinf #new1 .newrong ul:after{
    content: "";
    display: block;
    clear: both;
}
#newinf #new1 .newrong ul li{
    position: relative;
    top: 0;
    float: left;
    opacity: 1;
    width: 418px;
    height: 212px;
    background-repeat: no-repeat;
    background-position-y: 14px;
    margin: 10px 4px;
    transition: .8s;
    cursor: pointer;
}
#newinf #new1 .newrong ul li.hide{
    opacity: 0;
    top: 80px;
}
#newinf #new1 .newrong ul li.tu1{
    background-image: url("../img/newinfo/p1.png");
}
#newinf #new1 .newrong ul li.tu2{
    background-image: url("../img/newinfo/p2.png");
}
#newinf #new1 .newrong ul li.tu3{
    background-image: url("../img/newinfo/p3.png");
}
#newinf #new1 .newrong ul li.tu4{
    background-image: url("../img/newinfo/p4.png");
}
#newinf #new1 .newrong ul li.tu5{
    background-image: url("../img/newinfo/p5.png");
}
#newinf #new1 .newrong ul li.tu6{
    background-image: url("../img/newinfo/p6.png");
}

#newinf #new1 .newrong ul li:hover{
    background-position-y: 0;
}

#newinf #new1 .newrong ul li i{
    position: absolute;
    background: #a57c47;
}
#newinf #new1 .newrong ul li .i1,#newinf #new1 .newrong ul li .i3{
    width: 0;
    height: 2px;
}
#newinf #new1 .newrong ul li .i2,#newinf #new1 .newrong ul li .i4{
    width: 2px;
    height: 0;
}
#newinf #new1 .newrong ul li i.i1{
    top: 6px;
    left: 6px;
}
#newinf #new1 .newrong ul li i.i2{
    top: 6px;
    right: 6px;
}
#newinf #new1 .newrong ul li i.i3{
    bottom: 22px;
    right: 6px;
}
#newinf #new1 .newrong ul li i.i4{
    bottom: 22px;
    left: 6px;
}
#newinf #new1 .newrong ul li:hover i.i1{
    animation: L1 .2s 0s linear 1;
}
#newinf #new1 .newrong ul li:hover i.i2{
    animation: L2 .09s .2s linear 1;
}
#newinf #new1 .newrong ul li:hover i.i3{
    animation: L1 .2s .29s linear 1;
}
#newinf #new1 .newrong ul li:hover i.i4{
    animation: L2 .09s .49s linear 1;
}
#newinf #new1 .newrong ul li:hover i{
    animation-fill-mode: forwards !important;
}

#newinf #popwindow{
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 66;
}
#newinf #popwindow .content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 1180px;
    height: 735px;
    margin: auto;
}
#newinf #popwindow .content ul li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: -40px 0 0 -90px;
}
#popwindow .content .txt{
    overflow: hidden;
    position: relative;
    width: 424px;
    height: 320px;
    margin: 186px 0 0 570px;
}
#popwindow .content .txt .mintxt{
    position: absolute;
    left: 0;
    top: 0;
    width: 390px;
    font-size: 16px;
    line-height: 35px;
}
#popwindow .content .txt .mintxt .blackbold{
    color: #000;
    font-weight: bold;
}
#popwindow .content .txt .mintxt .redbold{
    color: #e5402a;
    font-weight: bold;
}
#popwindow .content .txt .mintxt .normal{
    color: #393939;
}
#popwindow .content .txt .scroll{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background: #e2e2e2;
}
#popwindow .content .txt .scroll .call{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
}
#popwindow .content .txt:hover .scroll{
    display: block;
}
#popwindow .content .close{
    right: 86px;
    top: 80px;
}
#popwindow .content .btn{
    position: absolute;
    top: 50%;
    width: 66px;
    height: 18px;
    background-repeat: no-repeat;
    margin-top: -9px;
    cursor: pointer;
}
#popwindow .content .toleft{
    left: -110px;
    background-image: url(../img/newinfo/toleft.png);
    background-position-x: 20px;
}
#popwindow .content .toright{
    right: -110px;
    background-image: url(../img/newinfo/toright.png);
}
#popwindow .content .toleft:hover{
    animation: yileft 2s linear infinite;
}
#popwindow .content .toright:hover{
    animation: yiright 2s linear infinite;
}
#game{
    position: relative;
}
#game .center{
    width: 1130px;
    height: 620px;
    margin: 100px auto;
}
#game .center .title{
    position: relative;
    top: 0;
    width: 800px;
    height: 150px;
    margin: 0 auto;
    transition: .8s;
}
#game .center .title.hide{
    opacity: 0;
    top: 80px;
}
#game .center .dotu{
    position: relative;
    top: 0;
    opacity: 1;
    margin: 30px auto;
    transform-style: preserve-3d;
    transition: .8s;
}
#game .center .dotu.hide{
    top: 80px;
    opacity: 0;
}
#game .center .dotu ul{
    perspective: 480px;
}
#game .center .dotu ul li {
    position: absolute;
    top: 0;
    left: 176px;
    width: 776px;
    height: 439px;
    background: #000;
    transform: translate3D(0px,0px,-233px) rotateY(0deg);
    transition: transform .5s;
}
#game .center .dotu ul li.left{
    z-index: 1;
    transform: translate3D(-231px,0,-302px) rotateY(30deg);
}
#game .center .dotu ul li.hid{
    position: relative;
    transform: translate3D(0,0,0) rotateY(0deg);
    z-index: 3;
}
#game .center .dotu ul li.right{
    z-index: 2;
    transform: translate3D(231px,0,-302px) rotateY(-30deg);
}
#game .center .dotu ul li.hid img{
    opacity: 1;
}
#game .center .dotu ul li img{
    display: block;
    width: 100%;
    height: 100%;
    opacity: .6;
}


#game .center .dotu .dian{
    position: absolute;
    top: 50%;
    width: 42px;
    height: 82px;
    margin-top: -41px;
    cursor: pointer;
 }
#game .center .dotu .dian:hover{
    opacity: .7;
}
#game .center .dotu .dileft{
    left: -100px;
    background: url(../img/game/left.png);
}
#game .center .dotu .diright{
    right: -100px;
    background: url(../img/game/right.png);
}
#game .center .dotu ul li.hid i{
    position: absolute;
    background: #fff;
}
#game .center .dotu ul li.hid i.i1{
    width: 0;/*763*/
    height: 1px;
    animation: jiaW .35s 0s linear 1;
}
#game .center .dotu ul li.hid i.i2{
    width: 1px;
    height: 0;/*399*/
    animation: jiaH .15s .35s linear 1;
}
#game .center .dotu ul li.hid i.i3{
    width: 0;/*763*/
    height: 1px;
    animation: jiaW .35s .5s linear 1;
}
#game .center .dotu ul li.hid i.i4{
    width: 1px;
    height: 0;/*399*/
    animation: jiaH .15s .85s linear 1;
}
#game .center .dotu ul li.hid i{
    animation-fill-mode: forwards !important;
}
#game .center .dotu ul li.hid i.i1{
    top: 20px;
    left: 20px;
}
#game .center .dotu ul li.hid i.i2{
    top: 20px;
    right: 20px;
}
#game .center .dotu ul li.hid i.i3{
    bottom: 20px;
    right: 20px;
}
#game .center .dotu ul li.hid i.i4{
    left: 20px;
    bottom: 20px;
}
.bottom{
    position: relative;
    top: 0;
    width: 100%;
    margin-top: 100px;
    transition: .8s;
}
.bottom.hide{
    top: 68px;
}
.bottom .show{
    position: relative;
    top: 0;
    opacity: 1;
    width: 640px;
    height: 30px;
    margin: 0 auto 20px;
    color: #666;
    transition: .8s;
}
.bottom .show ul li {
    float: left;
    height: 20px;
    color: #666;
    margin-left: 20px;
    cursor: pointer;
}
.bottom .show ul li:hover{
    opacity: .5;
}
.bottom .show p{
    float: left;
}
.bottom .show ul li span{
    float: left;
    width: 20px;
    height: 20px;
}
.bottom .show ul li span.pan1{
    background: url(../img/icon.v5.png)0 -350px no-repeat;
}
.bottom .show ul li span.pan2{
    background: url(../img/icon.v5.png)0 -325px no-repeat;
}
.bottom .show ul li span.pan3{
    background: url(../img/icon.v5.png)0 -25px no-repeat;
}
.bottom .show ul li span.pan4{
    background: url(../img/icon.v5.png)0 0 no-repeat;
}
.bottom .show ul li span.pan5{
    background: url(../img/icon.v5.png)0 -50px no-repeat;
}
.bottom .show ul li span.pan6{
    background: url(../img/icon.v5.png)0 -375px no-repeat;
}
.bottom .show ul li p{
    float: left;
    margin-left: 10px;
    font-size: 16px;
}
.bottom .floot{
    position: relative;
    bottom: 0;
    opacity: 1;
    width: 100%;
    height: 200px;
    background: #171020;
    transition: .8s;
}
.bottom .floot .floot1{
    width: 840px;
    height: 48px;
    margin: 0 auto;
    padding: 20px 0;
}
.bottom .floot .floot1 .fto{
    float: left;
}
.bottom .floot .floot1 .fto1{
    float: right;
    color: #666;
    font-size: 12px;
}
.bottom .floot .floot1 .fto1 p{
    padding: 2px;
}
.bottom .floot .floot1 .fto1 p i{
    float: right;
    background: red;
    color: #fff;
    font-style: normal;
    padding: 4px;
}
/*微信扫一扫的动画*/
@keyframes goudan {
    0%{top: 0}
    50%{top: 120px}
    100%{top: 0}
}
/*向下指标的动画*/
@keyframes hua{
    from{bottom:230px;opacity: 0}
    to{bottom:170px;opacity: 1}
}
/* i1 和 i3的动画*/
@keyframes L1 {
    from{width: 0}
    to{width: 404px}
}
/* i2 和 i4的动画*/
@keyframes L2 {
    from{height: 0}
    to{height: 184px}
}

/*左右切换，鼠标放上去的左右运动*/
@keyframes yileft {
    0%{background-position-x: 20px}
    50%{background-position-x: 0px}
    100%{background-position-x: 20px}
}
@keyframes yiright {
    0%{background-position-x: 0px}
    50%{background-position-x: 20px}
    100%{background-position-x: 0px}
}

/*h5轮播图线条的显示*/
@keyframes jiaW {
    from{width: 0}
    to{width: 736px}
}
@keyframes jiaH {
    from{height: 0}
    to{height: 399px}
}

